@model IEnumerable<AngularAssignment.Models.Person>
@{
    ViewBag.Title = "Index";
}
<h2>{{message}} (SPA) using <b>AngularJS</b></h2>
<button type="button" ng-click="ShowList()">Show The List</button>
<br />
<div ng-repeat="friend in PersonsList">
    <ul>
        <li>
            {{friend.Name}}
            <button type="button" ng-click="Edit(friend.Name)">Edit</button>
            <button type="button" ng-click="showDetails(friend.Name)">Details</button>
        </li>
    </ul>
</div>
<div ng-show="onePerson">
    <div class="col-md-2">
        <p>Name: </p>
        <p>Telephone: </p>
        <p>Email: </p>
    </div>
    <div class="col-md-4">
        <p>{{onePerson.Name}}</p>
        <p>{{onePerson.Telephone}}</p>
        <p>{{onePerson.Email}}</p>
    </div>
</div>
<div class="col-md-6" ng-show="editPerson" ng-submit="SaveEdit(editPerson)">
    <form>
        <input ng-model="editPerson.Name" type="text" />
        <input ng-model="editPerson.Telephone" type="text" />
        <input ng-model="editPerson.Email" type="email" />
        <input type="submit" value="Save"/>
    </form>
</div>